# Covid 2019

https://www.youtube.com/watch?v=89eYAAPyRfo

https://drive.google.com/file/d/1BTG4tZUmiTKwu1E7o_UmqAtMrguNrOoh/view

In [1]:
import pandas as pd

In [24]:
data = pd.read_csv('data/Covid/covid_small.csv')

In [25]:
data.head()

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       321 non-null    object
 1   State      140 non-null    object
 2   Region     321 non-null    object
 3   Confirmed  321 non-null    int64
 4   Deaths     321 non-null    int64
 5   Recovered  321 non-null    int64
dtypes: int64(3), object(3)
memory usage: 15.2+ KB

In [27]:
data.isnull().sum()

Date           0
State        181
Region         0
Confirmed      0
Deaths         0
Recovered      0
dtype: int64

In [28]:
data.describe()

           Confirmed        Deaths      Recovered
count     321.000000    321.000000     321.000000
mean     9949.800623    709.152648    3030.277259
std     31923.853086   3236.162817   14364.870365
min         0.000000      0.000000       0.000000
25%       104.000000      2.000000       2.000000
50%       653.000000     12.000000      73.000000
75%      4655.000000    144.000000     587.000000
max    299691.000000  27682.000000  132929.000000

## 1.) Show the number of Confirmed, Teaths and Recivered cases in each Region.

In [29]:
data.groupby('Region').sum().head()

             Confirmed  Deaths  Recovered
Region
Afghanistan       1939      60        252
Albania            766      30        455
Algeria           3848     444       1702
Andorra            743      42        423
Angola              27       2          7

In [30]:
data.groupby('Region')['Confirmed'].sum().sort_values(ascending=False).head(20)

Region
US                1039909
Spain              236899
Italy              203591
France             166543
UK                 166441
Germany            161539
Turkey             117589
Russia              99399
Iran                93657
Mainland China      82862
Brazil              79685
Canada              52865
Belgium             47859
Netherlands         38998
Peru                33931
India               33062
Switzerland         29407
Ecuador             24675
Portugal            24505
Saudi Arabia        21402
Name: Confirmed, dtype: int64

In [31]:
data.groupby('Region')['Deaths'].sum().sort_values(ascending=False).head(20)

Region
US                60967
Italy             27682
UK                26166
Spain             24275
France            24121
Belgium            7501
Germany            6467
Iran               5957
Brazil             5513
Netherlands        4727
Mainland China     4633
Canada             3155
Turkey             3081
Sweden             2462
Mexico             1732
Switzerland        1716
Ireland            1190
India              1079
Portugal            973
Russia              972
Name: Deaths, dtype: int64

In [32]:
data.groupby('Region')[['Confirmed','Recovered']].sum().head(20)

                     Confirmed  Recovered
Region
Afghanistan               1939        252
Albania                    766        455
Algeria                   3848       1702
Andorra                    743        423
Angola                      27          7
Antigua and Barbuda         24         11
Argentina                 4285       1192
Armenia                   1932        900
Australia                 6752       5715
Austria                  15402      12779
Azerbaijan                1766       1267
Bahamas                     80         23
Bahrain                   2921       1455
Bangladesh                7103        150
Barbados                    80         39
Belarus                  13181       2072
Belgium                  47859      11283
Belize                      18          9
Benin                       64         33
Bhutan                       7          5

## Remove all the records where Confirmed Cases is less than 10.

In [33]:
data=data[data.Confirmed>10]
data

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[301 rows x 6 columns]

## In which Region were the maximum number of Confirmed Cases recorded?

In [34]:
data.groupby('Region').Confirmed.sum().sort_values(ascending=False).head(20)

Region
US                1039909
Spain              236899
Italy              203591
France             166536
UK                 166432
Germany            161539
Turkey             117589
Russia              99399
Iran                93657
Mainland China      82861
Brazil              79685
Canada              52860
Belgium             47859
Netherlands         38993
Peru                33931
India               33062
Switzerland         29407
Ecuador             24675
Portugal            24505
Saudi Arabia        21402
Name: Confirmed, dtype: int64

## In which Region were the minimum number of Death Cases recorded?

In [37]:
data.groupby('Region').Deaths.sum().sort_values(ascending=True).head(50)

Region
Fiji                                0
Cambodia                            0
Mozambique                          0
Grenada                             0
South Sudan                         0
Dominica                            0
Seychelles                          0
Mongolia                            0
Nepal                               0
Namibia                             0
Timor-Leste                         0
Saint Vincent and the Grenadines    0
Saint Lucia                         0
Central African Republic            0
Saint Kitts and Nevis               0
Laos                                0
Vietnam                             0
Eritrea                             0
Rwanda                              0
Uganda                              0
Macau                               0
Madagascar                          0
Liechtenstein                       1
Eswatini                            1
Botswana                            1
Guinea-Bissau                       1
Maldives                            1
Equatorial Guinea                   1
Burundi                             1
Cabo Verde                          1
Benin                               1
Brunei                              1
Chad                                2
Djibouti                            2
Belize                              2
Libya                               2
Angola                              2
West Bank and Gaza                  2
Syria                               3
Ethiopia                            3
Malawi                              3
Antigua and Barbuda                 3
Zambia                              3
Gabon                               3
Nicaragua                           3
Hong Kong                           4
Monaco                              4
Malta                               4
Zimbabwe                            4
Sierra Leone                        4
Name: Deaths, dtype: int64

## How many Confirmed, Deaths and Recovered cases were reported from India til 29 April 2020?

In [38]:
data.head()

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

In [41]:
data.Date=pd.to_datetime(data.Date)

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301 entries, 0 to 320
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       301 non-null    datetime64[ns]
 1   State      130 non-null    object
 2   Region     301 non-null    object
 3   Confirmed  301 non-null    int64
 4   Deaths     301 non-null    int64
 5   Recovered  301 non-null    int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 16.5+ KB

In [49]:
data.head()

        Date State       Region  Confirmed  Deaths  Recovered
0 2020-04-29   NaN  Afghanistan       1939      60        252
1 2020-04-29   NaN      Albania        766      30        455
2 2020-04-29   NaN      Algeria       3848     444       1702
3 2020-04-29   NaN      Andorra        743      42        423
4 2020-04-29   NaN       Angola         27       2          7

In [54]:
import datetime

In [59]:
data[(data.Region=='India')&(data.Date <= '2020-04-29')]

         Date State Region  Confirmed  Deaths  Recovered
74 2020-04-29   NaN  India      33062    1079       8437

In [63]:
data.Date.unique()

array(['2020-04-29T00:00:00.000000000'], dtype='datetime64[ns]')

## Sort the entire data by confirmed cases in ascending order.

In [65]:
data = pd.read_csv('data/Covid/covid_small.csv')

In [66]:
data.sort_values(by='Confirmed', ascending = True)

,Date,State,Region,Confirmed,Deaths,Recovered
285,4/29/2020,Recovered,US,0,0,120720
284,4/29/2020,Recovered,Canada,0,0,20327
203,4/29/2020,Diamond Princess cruise ship,Canada,0,1,0
305,4/29/2020,Tibet,Mainland China,1,0,1
289,4/29/2020,Saint Pierre and Miquelon,France,1,0,0
...,...,...,...,...,...,...
57,4/29/2020,NaN,France,165093,24087,48228
168,4/29/2020,NaN,UK,165221,26097,0
80,4/29/2020,NaN,Italy,203591,27682,71252
153,4/29/2020,NaN,Spain,236899,24275,132929
265,4/29/2020,New York,US,299691,23477,0

## Sort the entrie data by Recovered cases in descending order.

In [67]:
data.sort_values(by='Recovered', ascending = False)

          Date           State   Region  Confirmed  Deaths  Recovered
153  4/29/2020             NaN    Spain     236899   24275     132929
285  4/29/2020       Recovered       US          0       0     120720
61   4/29/2020             NaN  Germany     161539    6467     120400
76   4/29/2020             NaN     Iran      93657    5957      73791
80   4/29/2020             NaN    Italy     203591   27682      71252
..         ...             ...      ...        ...     ...        ...
248  4/29/2020        Maryland       US      20849    1078          0
246  4/29/2020        Manitoba   Canada        275       6          0
243  4/29/2020       Louisiana       US      27660    1845          0
241  4/29/2020        Kentucky       US       4537     234          0
215  4/29/2020  Grand Princess   Canada         13       0          0

[321 rows x 6 columns]